@use '../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-block: 2rem;
  font-size: 1.4rem;
  background-color: rgb(81, 20, 141);

  img {
    border-radius: 0.4rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: $light-purple;
  }

  .types {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;

    li {
      border-radius: 0.4em;
      background-color: royalblue;
      padding: 0.3em 0.7em;
      font-size: 0.8rem;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .attrs {
    display: flex;
    gap: 1rem;
  }

  .stats {
    width: 100%;

    .heading {
      background-color: black;
      color: white;
      display: block;
      font-size: 1rem;
    }

    div {
      display: flex;
      flex-direction: column;

      li {
        background-color: $purple;
        display: flex;
        justify-content: space-between;
        padding: 0.8em;
      }

      li:nth-child(even) {
        background-color: lighten($purple, 5%);
      }
    }
  }
}
