@use '../variables' as *;

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 2rem auto;
  border-radius: 0.6rem;
  overflow: hidden;

  > * {
    width: 50%;
  }
}

.searchBox {
  padding-inline: 2rem;
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 1rem;

  input {
    flex-shrink: 1;
    min-width: 0;
  }

  svg {
    margin-inline: 1rem;
  }
}

// .searchBox.error {
//   $red: red;

//   background-color: rgba($red, 0.6);
// }
