
@use '../variables' as *;

.header {

  $font-color: $bg-purple;
  $bg: rgb(219, 192, 247);

  background-color: $bg;
  height: 3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;

  h1 {
    padding-right: 1em;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    position: relative;
    line-height: 1.8;
  }

  .back {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  .settings {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
  }
}
