$purple: rgb(89, 53, 126);
$bg-purple: rgb(81, 20, 141);
$light-purple: rgb(173, 157, 196);
// $yellow: yellowgreen;
// $bg-yellow: desaturate($purple, 40%);
// $light-yellow: lighten($purple, 10%);
